<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.conversantmedia.gdprcmp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name="com.conversantmedia.gdprcmp.CmpActivity"
            android:theme="@style/RoundCornersTheme"
            android:excludeFromRecents="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>